/* Jacob Gruszewski */
/* 9/17/25 */

/* css reset */
body, header, nav, main, footer, h1, div, img{
	margin: 0;
	padding: 0;
	border: 0;
}

/* style for body and images */
body{
	background-color: #000;
}

img{
	max-width: 100%;
	display: block;
	height: 450px;
}

/* style for header */
header{
	width: 25%;
	float: left;
	color: white;
}

/* style for nav */
nav{
	width: 70%;
	float: right;
	margin: 5em 3em 0 0;
}


nav ul{
	list-style-type: none;
	margin: 0;
	text-align: right;
}

nav li{
	display: inline-block;
	font-size: 1.5em;
	font-family: Verdana, Arial, san-serif;
}

nav li a{
	display: block;
	color: #fff;
	text-align: center;
	padding: .5em 1em;
	text-decoration: none;
}

/* styles for main and divs*/
main{
	clear: left;
	background-color: #000;
	padding: 2%;
	font-size: 1.25em;
	color: white;
}

.action{
	font-size: 1.35em;
	color: #660;
	font-weight: bold;
}

.external-link{
	color: #660;
	font-weight: bold;
	text-decoration: none;
}

.map{
	border: 8px solid #000;
}

/* style for footer */
footer p{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a{
	color: #fff;
	text-decoration: none;
}


