/*
Jacob Gruszewski 9/16/25
*/

/* css reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
}

/* style for body and images */
body{
	background-color: #000;
}

img, video{
	max-width: 100%;
	display: block;
}

*{
	box-sizing: border-box;
}

/*style rules for mobile viewpoint */

/* style for header */
header{
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
}

/* style for nav/hamburger */

.mobile-nav a {
	color: #fff;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile-nav a.menu-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}


/*Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop, #menu-links{
	display: none;
}

/* styles for main and divs*/
main{
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
}

.mobile h3 {
	text-shadow: 5px 5px 8px #ccc;
}

video {
	margin: 0 auto 4%;
}

article {
	padding: 2%;
}

article h3 {
	text-align: center;
}

article img {
	margin: 0 auto;
}

article ul {
	margin-left: 10%;
}

article:nth-of-type(2) {
	background-color: rgba(204, 204, 204, 0.3);
}

.tel-link {
	background-color: #404040;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center;
	border-radius: 5px;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.hours {
	margin-left: 10%;
}

#weights, #cardio, #training{
	margin: 0 2%;
}

.round {
	border-radius: 8px;
}



#contact{
	text-align: center;
}

#contact .contact-email-link {
	color: #660;
	text-decoration: none;
}



.action{
	font-size: 1.35em;
	color: #660;
	font-weight: bold;
	text-shadow: 5px 5px 8px #ccc;
}

.external-link{
	color: #660;
	font-weight: bold;
	text-decoration: none;
}

.map{
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

.frame {
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

#form {
	margin-top: 2%;
	background-color: #f2f2f2;
	padding: 2%;
}

#form h2 {
	text-align: center;
}

fieldset, input, select, textarea {
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label {
	display: block;
	padding-top: 3%;
}

form #submit {
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background-color: #b3b3b3;
	font-size: 1em;
	border-radius: 10px;
}

.pic-text {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

/* style for footer */
footer p{
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a{
	color: #fff;
	text-decoration: none;
}

/* Media Query for Tablet Viewpoint */
@media screen and (min-width: 630px), print {
	.tablet-desktop{
		display: block;
	}

	.mobile, .mobile-nav{
		display: none;
	}

	/* Tablet Viewpoint: Style rule for header */
	header {
		padding-bottom: 2%;
	}

	/* Tablet Viewpoint: Style rule for nav area */
	nav{
	padding: 1%;
	margin-bottom: 1%;
	}	


	nav ul{
	list-style-type: none;
	text-align: center;
	}

	nav li {
		display: inline-block;
		border-right: 1px solid #fff;
		font-size: 1.5em;
		font-family: 'Francois One', san-serif;
	}

	nav li:last-child {
		border-right: none;
	}

	nav li a {
	padding: 0.1em 0.75em;
	display: block;
	color: #fff;
	text-decoration: none;
	}

	/* Tablet Viewpoint: Style rule for main content area */
	table {
		border: 1px solid black;
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
	}

	caption {
		font-size: 1.5em;
		font-weight: bold;
		padding: 1%;
	}

	th, td {
		border: 1px solid black;
		padding: 2%;
	}

	th {
		background-color: #000;
		color: #fff;
		font-size: 1.15em;
	}

	tr:nth-child(odd) {
		background-color: #ccc;
	}

	main ul {
		margin: 0 0 4% 10%;
	}

	.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	.pic-text {
		font-size: 1em;
		padding: 10px;
	}

	aside {
		text-align: center;
		font-size: 1.25em;
		font-style: italic;
		font-weight: bold;
		padding: 2%;
		background-color: rgba(204, 204, 204, 0.5);
		box-shadow: 5px 5px 8px #000;
		text-shadow: 5px 5px 5px #b3b3b3;
		border-radius: 0 15px;
	}

	.grid-item4 {
		grid-column: 1 / span 3;
	}

	#exercises{
	clear: left;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: linear-gradient(to right, #ccc, #fff);
	background-color: #f2f2f2;
	padding: 1% 2%;
	}

	#exercises dt{
	font-weight: bold;
	}

	#exercises dd{
	padding: .5% 1% 2% 0;
	} 

	#example {
		display: none;
	}

	.viewex {
		font-weight: bold;
		cursor: pointer;
	}

	.offer:hover {
		transform: scale(1.25);
		cursor: pointer;
	}

	.tel-num {
		font-size: 1.25em;
	}

	.map {
		width: 600px;
		height: 450px;
	}

	form {
		width: 70%;
		margin: 0 auto;
	}

	@keyframes text-animation {
		0% {font-size: 1em;}
		50% {font-size: 2em;}
		100% {font-size: 1.35em;}
	}

	figcaption {
		animation-name: text-animation;
		animation-delay: 3s;
		animation-duration: 5s;
	}
}

/* Media Query for Desktop Viewpoint */
@media screen and (min-width: 1015px), print {
/* Desktop Viewpoint: Style rule for header */	
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}

/* Desktop Viewpoint: Style rule for nav area */
	nav {
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
	}	

	nav ul {
		text-align: right;
	}

	nav li {
		border: none;
	}

	nav li a {
		padding: 0.5em 1em;
	}

	nav li a:hover {
		color: #000;
		background-color: #fff;
		transform: scale(1.3);
	}

/* Desktop Viewpoint: Style rule for main content */
	main {
		clear: left;
	}

	main h1 {
		font-size: 1.8em;
	}

	article h3 {
		font-size: 1.75em;
	}

	.pic-text {
		font-size: 1.5em;
		padding: 20px;
	}

	.frame {
		opacity: 0.9;
	}

	.frame:hover {
		opacity: 1;
		box-shadow: 8px 8px 10px #808080;
		transform: translateY(10px);
	}

	#weights, #cardio, #training {
		width: 29%;
		float: left;
		margin: 0 2%;
	}

	#exercise {
		clear: left;
	}

	form {
		width: auto;
	}

	.form-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}

	.btn {
		grid-column: 1 / span 3;
	}

}

/* Media Query for Large Desktop Viewpoints */
@media screen and (min-width: 1921px) {
	
	#container {
		width: 1920px;
		margin: 0 auto;
	}

	table {
		width: 80%;
	}
}

/* Media Query for Print */
@media print {
	body {
		background-color: #fff;
		color: #000;
	}
}


